{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
<h2>{{ post.title }}</h2>
{% row %}
    <div class="col">
        {% include "blog/post-byline.html" %}
    </div>
{% endrow %}
{% row %}
    <div class="col">
        {{ post.content|safe }}  <!--Not good for production, use library like bleach to sanitize content-->
    </div>
{% endrow %}

{% row %}
    {% col %}
        {% include "blog/post-comments.html" %}
        {% recent_posts post%}
    {% endcol %}
{% endrow %}
{% endblock %}